 <head>
 <link rel= "stylesheet" href = "css/style.css">
 <p class = "head_color font_size font" > </p>

</head>


<body>


 
<%=yield%>


</body>

<footer>

<a href = "https://www.w3schools.com/html" target = "_blank"> Vist the website </a>
<footer>