<h1 class = "font_size head_color cap"> Mined Minds Random Pairing App</h1>
<form class = "font head_color" method = "post" action = "arraypage" id = "text_box">
    <input type ="number" min = 2 autofocus = "autofocus" id ="myInput" oninput = "myFunction()">
    <button type = "button" onclick="extrabox()">Add a box</button>
    <button type = "button" onclick="takebox()">Remove a box</button> 
    <p id = "demo"></p>
    <br>
    <input type = "submit">
   
</form>


<body class = "back_gr1" onload = "sound()">

</body>

<script src = "/js/fun_js.js">
  
</script>