<h1 class = "head_color font_size cap"> Your pairs are <%=fuck%>  </h1> 







<body class = "back_gr2" onload = "sound()">
</body>

<script>
  function sound(){
        var y = new Audio('/music/bar.mp3');
        y.play();
    }
</script>
